
p {color: rgb(21, 72, 223) !important}
p {size: 18pt;}
.main p {color: tomato;}
menu {font-family: Georgia, 'ingredient', Times, serif;}
    h1 {font-family: Georgia, '2 breads, one egg, chikcen, lettuce, tomato', Times, serif;}
h1, .menu {font-family: Georgia, 'How to make chicken salad', Times, serif;}
    h1 {font-family: Georgia, '1.fry the eggs', Times, serif;}
    h2 {font-family: Georgia, '2.slice the vegetables tomato and lettuce', Times, serif;}
    h3 {font-family: Georgia, '3.fry the chickens', Times, serif;}
    h3 {font-family: Georgia, '4.put the vegetables and chickens between two breads', Times, serif;}